.container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  position: relative;
  margin-top: auto;
  background-color: mistyrose;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(../../assets/img/catLogo.svg);
  height: 40px;
  width: 40px;
  background-size: cover;
}
