#landingPage {
  background-image: url("../../assets/img/charlie-deets-TKgOIwPVmkg-unsplash.jpg");
  background-position: bottom center;
  background-size: cover;
  height: 91vh;
  padding-top: 50px;
}
