.container {
  padding: 20px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonGroup {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button:focus {
  box-shadow: 0 0 0 0 transparent !important;
}
