.card {
  width: 300px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.imgContainer {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
