.container {
  padding: 20px;
}

.imgContainer {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  backdrop-filter: blur(90px);
  margin-left: auto;
  margin-right: auto;
}

.bgMistyrose {
  background-color: mistyrose;
}

.bgLightcoral {
  background-color: lightcoral;
}
